
.login_bc{
  height: 100vh;
  background: url('../../assets/tq3.jpeg') center center no-repeat;
  background-size:100%;
}
.login{
  width: 320px;
  padding:40px 20px 20px 20px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}